:root{
    --pink:brown;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color: brown;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}


header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

header .logo span{
    color: brown;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:brown;
}

li{
    list-style-type: none;
	display: inline-block;
	padding: 1px  20px;
}

li a{
    display: flex;
    color: black;
    text-align: right;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: normal;
}



header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:brown;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../img/Brown\ Neutral\ Minimalist\ Fashion\ House\ Facebook\ Cover.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:#333;
}

.home .content span{
    font-size: 3.5rem;
    color:brown;
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:white;
    padding:1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size: 1.5rem;
    color:rgb(133, 125, 125);
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.section .title{
    text-align: center;
    margin-bottom: 5rem;
}

.section .title span{
    display: inline-block;
    border-bottom: 3px solid brown;
    padding-bottom: 0,5rem;
    margin-bottom: 2rem;
    position: relative;
}
.section .title span::before{
    content: "";
    position: absolute;
    bottom: -0.7rem;
    right: 2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: brown;
}
.section .title h2{
    font-size: 2.4rem;
}

.collection .seasons {
    justify-content: center;
    margin-bottom: 7rem;
}

.collection .seasons div {
    padding: 1.7rem 4rem;
    color: var(--default-color);
    font-size: 1.7rem;
    border-radius: 0.8rem;
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
}
.seasons a {
    text-decoration: none;
    color: black;

}
.collection .seasons div:not(:last-child) {
    margin-right: 4rem;
}
.collection .seasons div:hover{
    color: brown;
	transition: .4s;
}
.collection .seasons div:active{
    background: var(--gradient);
    color: var(--white-color);
    box-shadow: var(--box-shadow-2);
}

.listblock {
    position: relative;
    left: 20%;
    float: left;
    background-color: burlywood;
    margin-right: 30px;
    color: #333;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2px;
    gap:1.5rem;
    margin-top: 20px;
}

.products .box-container .box{
    flex:1 1 20rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:30rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: burlywood;
    color:#fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: burlywood;
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.vid{
	background: rgb(236, 227, 227);
	width: 100%;
	padding: 100px 0px;
    margin-top: 10px;
}
.vid .box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.vid .card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: rgb(109, 79, 79);
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.vid .card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 30px;
	margin-bottom: 15px;
    margin-top: 30px;
}
.vid .card .button{
	background-color:#C9AADE;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.vid .card .button:hover{
	background-color: transparent;
	border: 2px solid #C9AADE;
	cursor: pointer;
	
}
.img{
	height: 50px;
	width: 50px;
    margin-top: 20px
	}

.footer{
    background: rgb(245, 231, 214);
    text-align: center;
}
.footer .social{
    padding: 1rem 0;
}
.footer .social a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: brown;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    border: 1px solid black;
    gap: 5px;
}

.footer .social a:hover{
    background-color: burlywood;
}
.footer .box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap:1rem;  
}

.footer .box a{
    padding: .7rem 2rem;
    color: brown;
    border: var(--border);
    font-size: 2rem;
}

.footer .box a:hover{
    background-color: burlywood;
}
.footer .credit{
    font-size: 1.8rem;
    color: #333;
    font-weight: lighter;
    padding: 1.1rem;
}

.footer .credit span{
    color: var(--main-color);
}

@media only screen and (min-width: 620px) {
 section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 2rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color: brown;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.4rem 2rem;
    cursor: pointer;
    font-size: 1.7rem;
}


header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

header .logo span{
    color: brown;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:brown;
}

li{
    list-style-type: none;
	display: inline-block;
	padding: 1px  20px;
}

li a{
    display: flex;
    color: black;
    text-align: right;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: normal;
}



header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:brown;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 50vh;
    background:url(../img/Brown\ Neutral\ Minimalist\ Fashion\ House\ Facebook\ Cover.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 30rem;
}

.home .content h3{
    font-size: 3rem;
    color:#333;
}

.home .content span{
    font-size: 2rem;
    color:brown;
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:white;
    padding:1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size: 1.5rem;
    color:rgb(133, 125, 125);
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.section .title{
    text-align: center;
    margin-bottom: 5rem;
}

.section .title span{
    display: inline-block;
    border-bottom: 3px solid brown;
    padding-bottom: 0,5rem;
    margin-bottom: 2rem;
    position: relative;
}
.section .title span::before{
    content: "";
    position: absolute;
    bottom: -0.7rem;
    right: 2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: brown;
}
.section .title h2{
    font-size: 2.4rem;
}

.collection .seasons {
    justify-content: center;
    margin-bottom: 7rem;
}

.collection .seasons div {
    padding: 1.7rem 4rem;
    color: var(--default-color);
    font-size: 1.7rem;
    border-radius: 0.8rem;
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
}
.seasons a {
    text-decoration: none;
    color: black;

}
.collection .seasons div:not(:last-child) {
    margin-right: 4rem;
}
.collection .seasons div:hover{
    color: brown;
	transition: .4s;
}
.collection .seasons div:active{
    background: var(--gradient);
    color: var(--white-color);
    box-shadow: var(--box-shadow-2);
}

.listblock {
    position: relative;
    left: 20%;
    float: left;
    background-color: burlywood;
    margin-right: 30px;
    color: #333;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2px;
    gap:1.5rem;
    margin-top: 20px;
}

.products .box-container .box{
    flex:1 1 20rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:30rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: burlywood;
    color:#fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: burlywood;
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.vid{
	background: rgb(236, 227, 227);
	width: 100%;
	padding: 100px 0px;
    margin-top: 10px;
}
.vid .box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.vid .card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: rgb(109, 79, 79);
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.vid .card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 30px;
	margin-bottom: 15px;
    margin-top: 30px;
}
.vid .card .button{
	background-color:#C9AADE;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.vid .card .button:hover{
	background-color: transparent;
	border: 2px solid #C9AADE;
	cursor: pointer;
	
}
.img{
	height: 50px;
	width: 50px;
    margin-top: 20px
	}

.footer{
    background: rgb(245, 231, 214);
    text-align: center;
}
.footer .social{
    padding: 1rem 0;
}
.footer .social a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: brown;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    border: 1px solid black;
    gap: 5px;
}

.footer .social a:hover{
    background-color: burlywood;
}
.footer .box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap:1rem;  
}

.footer .box a{
    padding: .7rem 2rem;
    color: brown;
    border: var(--border);
    font-size: 2rem;
}

.footer .box a:hover{
    background-color: burlywood;
}
.footer .credit{
    font-size: 1.8rem;
    color: #333;
    font-weight: lighter;
    padding: 1.1rem;
}

.footer .credit span{
    color: var(--main-color);
}

}
